<h2>Liste des tâches</h2>


@if (tasks$ | async; as tasks){
  <ul>
    @for (t of tasks; track t.id) {
      <li>
        {{t.title}}
        <button (click)="removeTask(t.id)">Supprimer</button>
      </li>
    }
  </ul>
} @else {
  <p>Chargement des tâches ...</p>
}
<p>Temps écoulé : {{count/2}} secondes</p>




<h3>Actions</h3>

<input #titleInput type="text" placeholder="Titre de la tâche" (keyup.enter)="addTask(titleInput.value); titleInput.value='';" />
<button (click)="addTask(titleInput.value); titleInput.value='';">Ajouter</button>


